* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: "roboto", sans-serif;
  color: black;
}

input {
  display: block;
}

h6, h5 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  box-sizing: content-box;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--purple);
  border-radius: 100%;
  margin-left: 3px;
  margin-right: 3px;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

header {
  width: 100%;
  height: 76px;
  display: flex;
  list-style: none;
  padding: 15px 25px 15px 25px;
  justify-content: space-between;
}
header .header-logo .logo {
  display: inline-block;
  padding: 5px 0 5px 0;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
header .header-navbar {
  display: flex;
  align-items: center;
}
header .header-navbar .header-lists {
  display: inline;
}
header .header-navbar .header-lists a {
  text-decoration: none;
  padding: 7px 25px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
}
header .header-navbar .header-lists .active {
  background: var(--indigo);
  color: var(--white);
}
header .header-navbar .header-lists a:active {
  background: var(--indigo);
  color: var(--white);
}
header .header-useritems {
  display: flex;
  align-items: center;
}
header .header-useritems a {
  text-decoration: none;
  color: var(--indigo);
  margin-left: 15px;
}

.slider {
  width: 100%;
  height: 500px;
  background: url("../images/slider-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}
.slider .slider-detailbox {
  position: absolute;
  left: 50px;
  bottom: 200px;
}
.slider .slider-detailbox h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.5rem;
}
.slider .slider-detailbox p {
  margin: 25px 0;
}
.slider .slider-detailbox .slider-btnboxs {
  margin: 0;
}
.slider .slider-detailbox .slider-btnboxs .slider-box {
  color: white;
  text-decoration: none;
  border-radius: 0;
  border: 0;
  transition: all 0.3s;
  padding: 10px 15px;
  margin-right: 5px;
}
.slider .slider-detailbox .slider-btnboxs .slider-box--green {
  background: var(--green);
}
.slider .slider-detailbox .slider-btnboxs .slider-box--purple {
  background: var(--indigo);
}
.slider .carousel-indicators {
  display: flex;
  justify-content: center;
  padding: 0;
  position: absolute;
  bottom: 100px;
  left: 630px;
}
.slider .carousel-indicators li {
  box-sizing: content-box;
  display: inline;
  width: 15px;
  height: 15px;
  background: var(--white);
  border-radius: 100%;
  margin-left: 3px;
  margin-right: 3px;
}
.slider .carousel-indicators li.active {
  width: 15px;
  height: 15px;
  background: var(--green);
}

.aboutshop {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 90px 15px 90px 15px;
  align-items: flex-end;
}
.aboutshop__container-img {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.aboutshop__container-img .img {
  position: relative;
  margin: 0 10px;
}
.aboutshop__container-img .img img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.aboutshop__container-img .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  top: 0;
  left: 0;
}
.aboutshop__container-img .img--top::before {
  transform: translateY(75px);
}
.aboutshop__container-img .img--bottom {
  margin-top: 150px;
}
.aboutshop__container-img .img--bottom::before {
  transform: translateY(-75px);
}
.aboutshop__container-detailbox {
  padding-left: 3%;
  padding-right: 10%;
}
.aboutshop__container-detailbox h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;
}
.aboutshop__container-detailbox p {
  margin: 35px 0 1rem 0;
}
.aboutshop__container-detailbox a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 35px;
  background-color: var(--purple);
  color: var(--white);
  color: #fff;
  transition: all 0.3s;
  border: none;
  margin-top: 35px;
  border-radius: 5px;
}

.service-section {
  display: flex;
  width: 100%;
  padding: 0 15px 0 15px;
  background-color: #f8f8f8;
  justify-content: space-between;
}
.service-section .item {
  display: inline;
  padding: 45px 15px 45px 15px;
  text-align: center;
}
.service-section .item img {
  height: 65px;
  cursor: pointer;
  transition: all 0.3s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.service-section .item img:hover {
  filter: var(--purple);
  -webkit-filter: var(--purple);
}
.service-section .item h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.service-section .item p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.watch {
  background-color: #f6f6f6;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
.watch .watch__h2 {
  display: flex;
  margin-bottom: 45px;
  margin-left: 340px;
}
.watch .watch__h2 h2 {
  padding: 10px 20px;
  background-color: var(--teal);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
.watch .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}
.watch .container .watch__item {
  width: 355px;
  display: flex;
  align-items: center;
  margin: 0 10px 45px 10px;
  flex-direction: column;
}
.watch .container .watch__item .content-box {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.watch .container .watch__item .content-box .detail-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.watch .container .watch__item .content-box .detail-box .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.watch .container .watch__item .content-box .detail-box .like {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.watch .container .watch__item .content-box .detail-box .like .star-container {
  color: var(--yellow);
}
.watch .container .watch__item .btn {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.watch .container .watch__item .btn a {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--indigo);
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s;
  border: none;
  text-decoration: none;
}

.contact-us {
  width: 100%;
  padding: 15px 90px 15px 90px;
}
.contact-us__h2 {
  display: flex;
}
.contact-us__h2 h2 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.contact-us__container {
  display: flex;
  justify-content: center;
}
.contact-us__container .container__form {
  width: 100%;
  padding-right: 15px;
  margin-right: 15px;
}
.contact-us__container .container__form input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.contact-us__container .container__form .message {
  height: 120px;
}
.contact-us__container .btn-box button {
  display: inline-block;
  padding: 12px 55px;
  background-color: var(--purple);
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s;
  border: none;
}

.info {
  color: white;
  padding: 75px 0;
  background-color: #0f1521;
}
.info__container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-bottom: auto;
}
.info__container .logo {
  width: 80%;
  margin: 0 auto 45px auto;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.info__container .logo h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.info__container .detail {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}
.info__container .detail__col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.info__container .detail__col h5 {
  margin-bottom: 25px;
  font-size: 24px;
}
.info__container .detail__col .item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.info__container .detail__col .item__img {
  width: 35px;
  display: flex;
  justify-content: center;
}
.info__container .detail__col .item__img img {
  width: 18px;
  height: auto;
  margin-right: 12px;
}
.info__container .detail__col .item p {
  margin: 0;
}
.info__container .detail__col .information h5 {
  margin-bottom: 25px;
  font-size: 24px;
}
.info__container .detail__col .insta-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
.info__container .detail__col .insta-container__item {
  width: 100%;
}
.info__container .detail__col .insta-container__item a .container__img {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 15px;
}
.info__container .detail__col .insta-container__item a .container__img img {
  height: 45px;
}
.info__container .detail__col form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}
.info__container .detail__col form button {
  display: inline-block;
  padding: 8px 30px;
  background-color: #6f42c1;
  color: #fff;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
}
.info__container .detail__col .social-club {
  margin-top: 35px;
  width: 100%;
  display: flex;
}
.info__container .detail__col .social-club a {
  margin-right: 25px;
}

.testi {
  padding: 90px;
}
.testi__h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testi__h2 h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.testi__slider {
  display: flex;
  align-items: center;
}
.testi__slider .img {
  width: 310px;
  height: 125px;
  min-height: 125px;
  border-radius: 50%;
  border: 5px solid var(--green);
  overflow: hidden;
}
.testi__slider .img img {
  width: 100%;
}
.testi__slider .detail {
  background-color: #fff;
  padding: 45px 45px 45px 85px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.testi__slider .detail__info {
  display: flex;
  justify-content: space-between;
}
.testi__slider .detail__info .name h6 {
  font-weight: bold;
  color: var(--indigo);
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 0;
}
.testi__slider .detail__info .name h5 {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--green);
  line-height: 1.2;
  margin-top: 0;
}
.testi .carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

footer {
  background-color: #fff;
  text-align: center;
}
footer .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
footer .container p {
  color: #000;
  padding: 25px 0;
  margin: 0;
}
footer .container p a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
